@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   /* background: url(); */
   background-color: rgb(117, 157, 243);
   background-size: cover;
   background-position: center;
}

.container{
    width: 420px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
    color: rgb(105, 35, 35);
    padding: 30px 40px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border-color: rgb(105, 35, 35);
}

.container h1{
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
}

.container h2{
    font-size: 13px;
    width: 100%;
    height: 50px;
    margin: 15px 0;

}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 40px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 20px;
    border-color: rgb(105, 35, 35);
    outline: none;
    font-size: 16px;
    color: rgb(105, 35, 35);
    padding: 20px 45px 20px 20px;

}

.input-box input::placeholder{
    color: rgb(105, 35, 35);
    opacity: 30%;    
}

.input-box label {
    margin-bottom: 5px; 
    display: block; 
}

.cadastrar{
    width: 100%;
    height: 50px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 20px;
    border-color: rgb(105, 35, 35);
    cursor: pointer;
    font-size: 16px;
    color: rgb(105, 35, 35);
    font-weight: 600;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    margin-top: 36px;
}

.cadastrar:hover{
    
    background-color: rgb(105, 35, 35);
    border: 2px solid rgba(255, 255, 255, .2);
    color: white;
    transition: 0.5s;
}