@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #a0c0e7;
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none; 
    color: inherit;
}

#app-header {
    background-color: #0056b3;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}


.link-logo {
    font-size: 2.2em;
    font-weight: bold;
    margin-right: 0;
    background-color: #0056b3; 
    border-color: #0056b3;
    color: #ffffff;
    text-decoration: none;
}

#catalogo-main {
    flex-grow: 1;
    padding: 0 15px;
    padding-bottom: 80px; 
}

.titulo-catalogo {
    font-size: 2.2em;
    font-weight: bold;
    color: #1A439F;
    margin-bottom: 50px;
    margin-top: 25px;
    text-decoration: none;
    text-align: left;
    padding-left: 20px;
    text-align: center;
    
}

.produtos-lista {
    display: flex;
    flex-direction: column;
    gap: 20px; 
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.produto-card {
    background-color:  #e56b6b;
    border-radius: 15px;
    display: flex;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    height: 300px; 
    width: 100%;
    text-align: center;
    justify-content: center;
}

.produto-imagem {
    width: 45%; 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFF; 
    padding: 10px;
}
.produto-imagem img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 5px;
}

.produto-detalhes {
    width: 55%; 
    padding: 10px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
}

.produto-nome {
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 5px;
    object-position: center;
    text-align: center;
    align-items: center; 
}

.produto-preco {
    font-size: 2.3em;
    font-weight: bold;
    text-align: center;
}

.unidade-texto {
    font-size: 1.0em;
    font-weight: normal;
    text-align: center;
}

.produto-estoque {
    font-size: 1.0em;
    opacity: 0.8;
}

.botao-comprar{
    display: inline-block;
    width: 60%;
    padding: 8px 15px;
    margin-top: 10px;
    background-color: #f7f7f7;
    color: #e56b6b;
    border: 2px solid #e56b6b;
    border-radius: 8px;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s, transform 0.1s;
}

.botao-comprar i {
    color: inherit; 
    margin-right: 5px; 
}

.botao-comprar:hover,
.botao-comprar:active {
    background-color: #e56b6b; 
    color: #fff; 
    border-color: #FFF;
    transform: translateY(-1px);
}

.carousel-dots {
    display: flex;
    justify-content: center;
    padding: 15px 0;
}

.dot {
    height: 8px;
    width: 8px;
    margin: 0 4px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.dot.active {
    background-color: #0056b3;
}

#tab-bar {
    position: fixed; 
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #fff; 
    border-top: 1px solid #ddd;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.15);
    z-index: 900;
}

.tab-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #999;
    font-size: 0.65em;
    padding: 5px;
    flex: 1; 
}

.tab-item i {
    font-size: 1.5em;
    margin-bottom: 2px;
}

.tab-item.active {
    color: #0056b3; 
}

:root {
    --color-primary: #0056b3; 
    --color-white: #fff;
    --color-red-action: #ff3366; 
    --color-text-dark: #333;
    --color-border-light: #ddd;
}

#tela-locacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0 80px 0;
}

.titulo-carrinho {
    
    font-size: 1.2em;
    font-weight: bold;
    color: var(--color-text-dark);
    text-align: left;
    width: 90%;
    max-width: 450px; 
    margin-bottom: 20px;
}

.carrinho-container {
    background-color: var(--color-white);
    max-width: 450px; 
    width: 90%; 
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.header-carrinho {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid var(--color-border-light);
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.fechar-pedido-btn {
    background-color: var(--color-red-action);
    color: var(--color-white);
    border: none;
    border-radius: 8px;
    padding: 12px 25px;
    font-size: 1.1em;
    font-weight: bold;
    width: 100%;
    cursor: pointer;
    margin-bottom: 10px;
    box-shadow: 0 3px 5px rgba(229, 107, 107, 0.5);
    transition: opacity 0.2s;
}
.fechar-pedido-btn:active {
    opacity: 0.9;
}

.subtotal-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 0.9em;
    color: #666;
}

.produtos-carrinho-lista {
   
    display: flex;
    flex-direction: column;
}

.item-carrinho {
    border-bottom: 1px dashed #eee;
    padding: 15px 0;
}
.item-carrinho:last-child {
    border-bottom: none;
}

.item-info {
    display: flex;
    margin-bottom: 10px;
}
.item-imagem {
    width: 70px;
    height: 70px;
    border-radius: 8px;
    margin-right: 10px;
    object-fit: cover;
    border: 1px solid var(--color-red-action); 
}
.item-detalhes {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.item-nome {
    font-weight: bold;
    font-size: 1em;
}
.item-data {
    font-size: 0.8em;
    color: #666;
}

.item-controles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px; 
}

.estoque-info {
    display: flex; 
    align-items: stretch;
    border: 1px solid #ddd; 
    border-radius: 20px; 
    overflow: hidden;
}

.frete-info{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 1.5em;
    color: #0056b3;
}
#frete-label{
    width: 100%;
    margin: 0;
    padding: 10px; 
    display: flex;
    justify-content: left;
    font-size: 1.3em;
    color: #1b70ca;
    border-color: var(--color-red-action);
    background-color: #94949442;
    border-radius: 20px;
}
.quantity-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    color: #0056b3; 
    padding: 0 10px;
    height: 30px; 
    width: 30px;
    flex-shrink: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.1s;
}

.quantity-button:hover {
    background-color: #a0c0e7; 
}

.minus-btn {
    border-right: 1px solid #ddd; 
    border-radius: 0; 
}
.plus-btn {
    border-left: 1px solid #ddd; 
    border-radius: 0; 
}

.quantity-field {
    border: none; 
    text-align: center;
    font-weight: bold;
    font-size: 0.8em;
    min-width: 40px; 
    height: 30px; 
    padding: 0;
    flex-grow: 1; 
}
.btn-qty {
    background: none;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-weight: bold;
    color: var(--color-primary);
}
.item-quantidade {
    padding: 5px 0;
    font-weight: bold;
    border-left: 1px solid var(--color-border-light);
    border-right: 1px solid var(--color-border-light);
    min-width: 30px;
    text-align: center;
    font-size: 0.9em;
}
.item-estoque {
    font-size: 0.8em;
    color: green; 
    font-weight: 500;
    margin-left: 15px;
}
.btn-remover {
    background: none;
    border: none;
    color: var(--color-red-action);
    font-size: 1.2em;
    cursor: pointer;
}
#frete-texto{
   width: 100%;
    margin: 0;
    padding: 10px; 
    display: flex;
    justify-content: left;
    font-size: 1.3em;
    color: #1b70ca;
    border-color: var(--color-red-action);
    background-color: #94949442;
    border-radius: 20px;
}

.frete-label {
    font-weight: bold;
    margin-bottom: 5px;
    background-color: #fff;
}
.frete-servico {
    font-size: 0.9em;
    color: #fff;
}
#carrinho-wrapper {
    display: flex;
    width: 90%; 
    max-width: 450px; 
    overflow: hidden; 
    transition: transform 0.5s ease-in-out;
    margin: 0 auto; 
}

.carrinho-passo {
    min-width: 100%; 
    flex-shrink: 0; 
    padding: 0;      
    margin: 0;
}

.carrinho-passo .carrinho-container {
    width: 100%; 
    padding: 20px; 
    margin: 0;
    background-color: var(--color-white);
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

#carrinho-passo-2 .titulo-checkout {
    font-size: 1.2em;
    font-weight: bold;
    color: var(--color-primary, #0056b3);
    margin-bottom: 20px;
}

.titulo-checkout {
    font-size: 1.2em;
    font-weight: bold;
    color: var(--color-primary, #0056b3);
    margin-bottom: 20px;
    text-align: center;
    position: relative;
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
}
.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

#btn-voltar-carrinho {
   
    background-color: transparent;
    border: 1px solid #ccc;
    color: #666;
    padding: 10px;
    border-radius: 8px;
    margin-right: 10px;
    float: left;
    width: auto;
    font-size: 1em;
    cursor: pointer;
}