@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}
body {
    margin-top: 100px;
    background-color:#a0c0e7; 
}


#menu-bar {
    background-color: #0056b3; 
    color: white;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 10px 20px;
    height: 60px; 
    position: fixed; 
    top: 0;
    width:  100%;
    left: 50%;
    transform: translateX(-50%);
    box-sizing: border-box; 
    z-index: 1000; 
}

.logo {
    font-size: 1.7em;
    font-weight: bold;
    margin-right: 0;
}
.nav-links {
    list-style: none; 
    display: flex; 
    margin: 0;
    padding: 0;
    padding-right: 20px;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none; 
    padding: 8px 12px;
    border-radius: 4px;
    transition: background-color 0.3s;
    display: flex;
    align-items: center; 
    justify-content: center;
}

.nav-links a i{
    font-size: 1.5em; 
    margin-right: 5px
}

.nav-links a:hover {
    background-color: rgba(255, 255, 255, 0.2); 
}

#titulo-agenda{
    font-size: 2.2em; 
    font-weight: bold; 
    color: #1A439F;
    margin-bottom: 25px;
    margin-top: 25px; 
    text-decoration: none; 
    text-align: left;
    padding-left: 20px;
}

#calendar{
    background-color:#EBF5FF;
    
    
    border: 5px solid #0056b3;
    border-radius: 12px;       
    padding: 10px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.fc-button-primary {
    background-color: rgb(117, 157, 243); 
    border-color: rgb(117, 157, 243);
    color: white;
}

.fc-button-primary:hover {
    background-color: #0056b3; 
    border-color: #0056b3;
}
    
    
.fc-daygrid-day.fc-day-today {
    background-color: rgb(117, 157, 243);
}

.fc-dayGridMonth-button fc-button fc-button-primary fc-button-active{
    color: rgb(0, 0, 0);
}

.fc-toolbar-title {
    color: #0056b3;
    font-family: "Rubik", sans-serif;
    font-size: 2.2em; 
    font-weight: bold; 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); 
    padding: 10px 0; 
    margin-bottom: 15px; 
}

.fc-col-header-cell-cushion{
    color: #000;
}

.fc-day-other .fc-daygrid-day-number {
    color: #000000; 
    opacity: 100%;
    font-weight: 600;        
}

/* Botões primários */
.fc .fc-button-primary {
    background-color: rgb(117, 157, 243);
    border: 1.5px solid;
    border-color: #0056b3;
    color: white; 
    font-weight: 600;
}

.fc .fc-button-primary:not(:disabled).fc-button-active,
.fc .fc-button-primary:hover {
    background-color: rgb(79, 128, 235); 
    border-color: #0056b3; 
}

/*Colunas de fim de semana */

.fc-day-other .fc-daygrid-day-number {
    color:  #f09494;
}
.fc-day-sun {
    background-color: #f09494; 
}


.fc-day-sat {
    background-color: #f09494; 
}

.fc-day-sun .fc-daygrid-day-number,
.fc-day-sat .fc-daygrid-day-number {
    color: rgb(105, 35, 35); 
}

.fc-icon fc-icon-chevron-left{
    background-color: rgb(117, 157, 243);
}